footer.footer {
    margin-top: 3em;
    margin-bottom: 5em;
    text-align: center;

    hr {
        width: 50%;
        margin: 0 auto;
    }

    p {
        margin-top: 2em;
    }

    &.small {
        margin-top: 0;
        margin-bottom: 0;
        hr {
            display: none;
        }
    }
}
