<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
                <add name="X-Clacks-Overhead" value="GNU Eddison the Magic Doggo" />
                <add name="Clacks-Overhead" value="GNU Eddison the Magic Doggo" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>